<!-- <div class="container-fluid ">
    <h1 class="admin-login display-1"><i class="bi bi-incognito"></i></h1>
    <div class="login col-md-12" >
    <form class="admin-login">
        <table>
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Username</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"  name='kor_ime' [(ngModel)]='username'>
                      </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Password</span>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name='lozinka' [(ngModel)]='password'>
                      </div>
                </td>
            </tr>
            <tr>
          </tr>
            <tr>
                <td colspan='2'>
                    <div class="admin-login">
                        <button type="button" class="btn btn-primary" (click)="login()" >Log in</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <span class='greska'>{{message}}</span>
</div> -->
<body>
    <div class="container">

      <div class="icon admin-login">
        <h1 class="display-1">
        <i class="bi bi-incognito"></i>
        </h1>
      </div>
      <form>
        <h2>Top Secret Admin Login</h2>
        <div class="input-field">
          <input type="text" required name='kor_ime' [(ngModel)]='username' />
          <label for="username" >Username</label>
        </div>
        <div class="input-field">
          <input type="password" required name='lozinka' [(ngModel)]='password' />
          <label for="password" >Password</label>
        </div>
        <button type="submit" (click)="login()">Log In</button>
      </form>
      <span class='greska'>{{message}}</span> 
      <div class="admin-login">
        <img src="../../../assets/pia.png" alt="">
    </div>
    </div>
    
  </body>
