<div class="changePass">
    <b>Change password</b>
<hr/>
<form>
    <table>
        <tr>
            <td>Old password:</td>
            <td>
                <input type='password' name='stara' [(ngModel)]='stara'>
            </td>
        </tr>

        <tr>
            <td>New password:</td>
            <td>
                <input type='password' name='nova1' [(ngModel)]='nova1'>
            </td>
        </tr>
        <tr>
            <td>Enter new password again:</td>
            <td>
                <input type='password' name='nova2' [(ngModel)]='nova2'>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button type="button" class="btn btn-primary" (click)="changePass()" >Log in</button>
            </td>
        </tr>
    </table>
</form>
<span class='greska'>{{message}}</span>


</div>