.greska{
    color: red;
}

.change-pass {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  table {
    margin: 0 auto;
    text-align: left;
  }
  
  td {
    padding: 10px;
  }
  
  input[type='password'] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3bafda;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 20px;
  }
  