<div class="footer container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="ime">
                <h5>Kocić Nikola - ETF 2023</h5>
            </div>
            <!-- <img src="../../../assets/pia.png" alt="" > -->
        </div>
        <div class="col-lg-4">
            <a routerLink="profile">Profile</a>
            <a routerLink="workshops">Workshops</a>
            <a routerLink="organize">Organize</a>
            <a routerLink="chat">Chat</a>
            <a href="#" (click)="logout()">Log out</a>
        </div>
        <div class="col-lg-2">
            <a href="#" _targer="_blank"> <i class="bi bi-facebook"></i> </a>
            <a href="#" _targer="_blank"> <i class="bi bi-whatsapp"></i> </a>
            <a href="#" _targer="_blank"> <i class="bi bi-instagram"></i> </a>
            <a href="#" _targer="_blank"> <i class="bi bi-youtube"></i> </a>
        </div>
    </div>
</div>