<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Workshops.pia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="workshops" routerLinkActive="active-link" >Workshops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="organize" routerLinkActive="active-link" >Organize</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="chat" routerLinkActive="active-link" >Chat</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="changepass" >Change password</a></li>
              <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
              <!-- <li><hr class="dropdown-divider"></li> -->
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex" role="search">
          <!-- <input type='text' name='kor_ime' class="form-control me-2" placeholder="Search" aria-label="Search" [(ngModel)]='searchText'> -->
          <!-- <button class="btn btn-outline-success" (click)=search() >Search</button> -->
          <button class="btn btn-outline-success" (click)=logout() >Logout</button>
        </form>
      </div>
    </div>
  </nav>
  